   <!-- Page Content -->
    <div class="container">   

       <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Noticias
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">É 37 anos</a>
                </h3>
                <p>Aqui é Body Builder Ipsum PORRA! Vo derrubar tudo essas árvore do parque ibirapuera. Eu quero esse 13 daqui a pouquinho aí. Ajuda o maluco que tá doente. É nóis caraio é trapezera buscando caraio! É 37 anos caralho! Negativa Bambam negativa.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">PORRA!</a>
                </h3>
                <p>Aqui é Body Builder Ipsum PORRA! Vo derrubar tudo essas árvore do parque ibirapuera. Eu quero esse 13 daqui a pouquinho aí. Ajuda o maluco que tá doente. É nóis caraio é trapezera buscando caraio! É 37 anos caralho! Negativa Bambam negativa.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Body Builder</a>
                </h3>
                <p>Aqui é Body Builder Ipsum PORRA! Vo derrubar tudo essas árvore do parque ibirapuera. Eu quero esse 13 daqui a pouquinho aí. Ajuda o maluco que tá doente. É nóis caraio é trapezera buscando caraio! É 37 anos caralho! Negativa Bambam negativa.</p>
            </div>
        </div>
        <!-- /.row -->

        

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

